
<div class="container">
        
    <h1>enjoy the burger</h1>
    
      <img src="/images/burgerImg.png" alt="burger" id="img">

   {{! Not Devoured form }}
    <div class='add-burger'>
      <h2 id='brg-label'>add a burger</h2>
        <form class="addburger-form">
          <textarea type="text" id="brg" name="burger_name"></textarea>
          <button type="submit" id='btn'>submit</button>
        </form>
    </div>
    
    {{! Not Devoured div}}
    <div class='not-devoured'>
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burger/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>
    </div>

  {{! Devoured div}}
    <div class='devoured'>
      
    <ul>
      {{#each burgers}}
        {{#if devoured}}
        
          <p>
            {{this.id}}. {{this.burger_name}}
          </p>   
        {{/if}}
      {{/each}}
    </ul>
    </div>
</div>



 