body{
  background: url("../images/bckgd.png"); 
}

.container{
  padding-top: 10px;
  width: 700px;
  margin: 30px auto 0 auto; 
}
h1{
  text-align: center;
  font-family: cursive; 
  font-size: 40px;
  color: black;
  letter-spacing: 10px;
  
}
.not-devoured{
  border: 1px solid green;
  width: 30%;
  padding-left: 120px;
  float: left;
}

.devoured{
  border: 1px solid blue;
  width: 30%;
  padding-left: 120px;
  float: left;
}


.add-burger{
  border: 1px solid orange;
  width: 100%;
  float: left;
  
}

li {
    width: 320px;
    padding: 1px;
    margin: 1px;
    font-family: cursive; 
    font-size: 20px;
  }
  
  .label {
    border: 1px solid purple;
    font-weight: bold;
  }
  

  .addburger-form{
    margin-bottom: 5px;
    margin-left: 210px;
  }

  #img{
    padding-left: 150px;
    padding-bottom: 10px;
    border-radius: 50%;
  }

  #brg-label{
    text-align: center;
    font-family: cursive; 
    font-size: 20px;
    color: black;
  }
  
  #btn{
    border: 1px solid brown;
    margin-left: 20px; 
   
  }
  #brg{
    border: 1px solid blueviolet;
    width: 250px;
    height: 18px;
  }